.text__container
  h1.text Coffee Time
  h1.text Coffee Time
.container
  .sipper
  .top__lead
    .top__lead__reflection
  .bottom__lead
    .bottom__lead__reflection
  .cup
  .holder
    .logo
      .bean
      .bean
      .bean
  .shadow